# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Daily pipeline 

on:
  workflow_dispatch: {}
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Feel free to change this cron schedule
    # Currently its scheduled for 1:25 pm UTC, Sun-Thurs
    - cron:  '25 13 * * *'

jobs:
  generate_digest:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # Needed for pushing to the repository
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Fetch all history for proper commits
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Generate Digest 
      run: |
        python -m src.cli generate --commit
      env:
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    - name: Configure Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
    - name: Push Changes
      run: |
        git push origin HEAD:${GITHUB_REF}
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: digest
        path: digests/
